body{
    background-color: #232323;
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
}

.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 20%;
    transition: background 0.7s;    
}

#container{
    margin: 0 auto;
    max-width: 600px;
}

h1{
    color: white;
    text-align: center;
    line-height: 1.1;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    padding: 20px 0;
    text-transform: uppercase;
}
#stripe{
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}
#colorDisplay{
    font-size: 200%;
}

.selected{
    background-color:steelblue;
    color: white;
}
button{
    border: none;
    background-color: white;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.5s;
    outline: none;
}
#message{
    display: inline-block;
    width: 20%;
}
button:hover{
    color: white;
    background-color: steelblue;
}
a{
    color: steelblue;
    text-decoration: none; 
}
a:hover{
    color: white;
}