body{
	text-align: left;
	margin:300px;
	margin-top: 20px;

	border: 20px solid gray;
	padding: 20px;

	background-color: #232323;

	font-family: ZCOOL XiaoWei;

	font-size: 150%;
}

h1{
	color: white;
}
p{
	color: cornsilk
}
ul{
	color: wheat;
}

#special{
	border-left: 5px solid gray;
	padding: 10px;
}

div{
	border-bottom: 2px solid lightgray;
}